<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastro de Categoria</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="cadcat(); $event.preventDefault()">
    <ion-item>
      <ion-label stacked>Nome da Categoria*</ion-label>
      <ion-input formControlName="nome" type="text"></ion-input>      
    </ion-item>
    <p class="danger" *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors" margin-left>Valor inválido</p>       
        
    <ion-avatar>
      <img class="circle" [src]="categoriaImage">
    </ion-avatar>      
    
      <ion-card>
        <ion-card-header>
          Escolha a imagem da categoria
        </ion-card-header>
        <ion-item *ngIf="picture">
          <img [src]="picture">
        </ion-item>        
      </ion-card>  
      <button ion-button block type="submit" ion-button outline block (click)="sendPicture" [disabled]="formGroup.invalid">Criar Categoria</button>          
  </form> 
  <ion-footer>
  <ion-item>
    <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Camera</button>
    <button ion-button block (click)="getGalleryPicture()" [disabled]="cameraOn">Galeria</button>
    <button *ngIf="picture" ion-button outline block (click)="sendPicture()">Enviar imagem</button>
    <button *ngIf="picture" ion-button outline block (click)="cancel()">Descartar imagem</button>          
  </ion-item>
</ion-footer>
</ion-content>
